<table style="width:30%">
  <tr>
	<th style="text-decoration: underline;"><%= link_to "Show User(s)", root_path %></th>
	<th style="text-decoration: underline;"><%= link_to "Create | Edit | Delete User", new_user_path %></th>
  </tr>   
</table> 
 
