<table style="width:30%">
  <tr>
	<th style="text-decoration: underline;"><%= link_to "Show Photo(s)", photos_path %></th>
	<th style="text-decoration: underline;"><%= link_to "Upload | Edit | Delete Photo", new_photo_path %></th>
  </tr>   
</table> 
 
